<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Session 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>18:00</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/setup.html">Installing Python and making sure it works</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18:15</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/01-run-quit/index.html">Running and quitting</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18:40</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/02-variables/index.html">Variables and assignment</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:10</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:30</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/03-types-conversion/index.html">Data types</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:50</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/04-processing-data-from-file/index.html">Reading and writing from files</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>20:35</td>        <!-- time    -->
        <td>Assignment instructions</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Session 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>18:00</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/05-built-in/index.html">Built-in functions and help</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>18:20</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/06-lists/index.html">Lists</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18:40</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/07-for-loops/index.html">Loops</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:05</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/08-conditionals/index.html">Conditionals</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:25</td>        <!-- time    -->
        <td>Assignment instructions</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Session 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>18:00</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/09-tracebacks/index.html">Reading tracebacks</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>18:15</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/10-libraries/index.html">Libraries</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18:35</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/11-tabular-data/index.html">Reading tabular data (Pandas, part one)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18:55</td>        <!-- time    -->
        <td><a href="/python-2022-01-yul-online/12-dataframes/index.html">Dataframes (Pandas, part two)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:25</td>        <!-- time    -->
        <td>Assignment instructions</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
