<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Session 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>18:00</td>        <!-- time    -->
        <td>Installing Python and making sure it works</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18:45</td>        <!-- time    -->
        <td>Running and quitting</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:00</td>        <!-- time    -->
        <td>Variables and assignment</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:20</td>        <!-- time    -->
        <td>Data types</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:40</td>        <!-- time    -->
        <td>Reading and writing from files</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>20:50</td>        <!-- time    -->
        <td>Assignment instructions</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Session 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>18:00</td>        <!-- time    -->
        <td>Built-in functions and help</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>18:20</td>        <!-- time    -->
        <td>Lists</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18:40</td>        <!-- time    -->
        <td>Loops</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:05</td>        <!-- time    -->
        <td>Conditionals</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:25</td>        <!-- time    -->
        <td>Assignment instructions</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Session 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>18:00</td>        <!-- time    -->
        <td>Reading tracebacks</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>18:15</td>        <!-- time    -->
        <td>Libraries</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18:35</td>        <!-- time    -->
        <td>Reading tabular data (Pandas, part one)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>18:55</td>        <!-- time    -->
        <td>Dataframes (Pandas, part two)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>19:25</td>        <!-- time    -->
        <td>Assignment instructions</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
